.jbServ{
  background-image: url(../img/imgJbtm/servicios.jpg);
  margin-bottom: 0%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.titulos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  /* Estilos de los banner */

 .overlay {
    background-image: url("../img/servicios/psicoterapia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    border-radius: 20px;
  }

  .mytext {
      z-index: 20;
      font-size: 60px;
  }

  .overlaytaller {
      background-image: url("../img/servicios/workshop.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(3px);
      border-radius: 20px;
  }

  .servicios{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 0px;
  }

  .servicioscards{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 0px;
    
  }


  .card-titles{
    font-size: 25px;
    text-align: center;
  }

  .card-texts{
    padding-top: 20px;
    font-size: 16px;
    text-align: justify;
  }

  .card-bodyy{
    height: 250px;
    background-color: #6fc4c531;
    
  }

  @media (max-width: 920px) {
    .card-bodyy{
      height: auto;
      background-color: #6fc4c531;
    }
  }

  .card-img-top{
    border-radius: 0px;
  }

  .card-button{
    display: flex;
    justify-content: center;
    background-color: #6fc4c531
    ;
  }

  .titt{
    color: var(--colorBlueDark);
    font-size: 50px;
  }

  .line{
    background-color: #4f657e;
    height: 3px;
    width: 70%;
  }
/*Se usan variables de color ya prestablecidas en el main.*/
.btn-col{
  background-color: var(--colorBlueDark);
  margin-bottom: 35px;
  margin-top: 50px;
  font-size: 18px;
  color: var(--ColorWhite);
}
/*hover cuando el usuario interactúa con el botón.*/
.btn-col:hover{
  background-color: var(--ColorWhite);
  color: var(--colorBlueDark);
  border-color: var(--colorBlueDark);
  border: none;
}



/*TITLE CARDS STYLE */
.titleStyleCard{
  color: var(--ColorWhite);
}

